@media screen and (min-width: 320px) {
  .container-update {
    width: 100%;
    height: 100vh;
    background: #1c1c1c;
    opacity: 0.9;
    padding: 0px 5px;
    position: absolute;
    display: none;
    z-index: 15;
    top: 0;
    left: 0;
  }

  .button-cancel {
    width: 50px;
    height: 30px;
    color: lavender;
    background: brown;
    opacity: 0.9;
    position: absolute;
    border-radius: 2px;
    font-weight: 900;
    font-size: 25px;
    top: 7px;
    right: 5px;
    border: 1px solid red;

  }

  .container-update,
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    width: 100%;
    background-color: #fff;
    opacity: 1;
    box-shadow: 1px 2px 10px #000;
    z-index: 20;
    border-radius: 10px;
    padding:30px 20px;
    margin-top: 50px;
    border:2px solid #1c1c1c;
    box-shadow:1px 1px 5px #fff;
  }

  .content form {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  form button:nth-child(2) {
    width: 30px;
    height: 30px;
    margin: 10px 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .div-input-date{
    display: flex;
    margin-bottom: 15px;
  }

  .calendar{
    width: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
   
  }

  .calendar input {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 30;
    border: none;
    background: none;
    opacity: 0;
   
  }

  .calendar .image {
    font-size: 30px;
  }

  .calendar input:hover {
    transform: scale(1.6);
    cursor: pointer;
  }

  form input:nth-child(3) {
    margin: 15px 0px;
    text-transform: uppercase;
  }

  .send-value{
    padding-bottom: 30px;
    padding-top: 10px;
  }

  .isEmpty{
    color: red;
    margin-top: 4px;
  }
}

@media screen and (min-width: 576px) {
  .content {
    width: 95%;
  }

  .button-cancel {
    width: 70px;
    height: 40px;
    border-radius: 4px;
    font-size: 28px;
    top: 12px;
    right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .content {
    width: 650px;
  }

  .button-cancel {
    width: 80px;
    border-radius: 5px;
    font-size: 30px;
    left: 15;
    right: 15px;
  }
}

@media screen and (min-width: 992px) {
.close {
  display: none;
}
}

