<section class="container-update">
  <button class="button-cancel" (click)="cancel()">X</button>
  <article class="content">
    <form (ngSubmit)="updateTask()">
      <div class="div-input-date">
        <input
        type="text"
        class="form-control"
        name="title"
        [(ngModel)]="task.title"
        placeholder="Título da Tarefa"
        autofocus
      />
      <div class="calendar">
        <input type="datetime-local" 
        name="date" 
        [(ngModel)]="task.date" />
        <span class="material-icons-outlined image"> calendar_month </span>
      </div>
      </div>
      <div class="send-value">
        <textarea
          name="text"
          [(ngModel)]="task.text"
          cols="15"
          rows="3"
          class="form-control input-text"
        ></textarea>
        <div *ngIf="task.text == ''" class="isEmpty">Esse campo não deve ser vazio!</div>
      </div>
       <input
        mat-raised-button
        type="submit"
        value="salvar"
        class="btn btn-primary"
      />
     
      <!--
         <button  mat-raised-button (click)="updateTask()" >Atualizar</button>
       -->
    </form>
  </article>
</section>


