<section class="container-full" [class.sectionFull]="showMenu == true">
  <div class="div-menu" [class.hideMenu]="hideMenu == true">
    <button (click)="onShowMenu()">
      <span class="material-icons-outlined"> menu </span>
    </button>
    <div class="container-date">
      {{ time | date: "fullDate" }}
      <span class="material-icons-outlined"> today </span>
    </div>
  </div>
  <section class="container-nav">
    <nav class="content" [class.hideMenu]="showMenu == false">
      <div class="closeMenu">
        <b (click)="onShowMenu()" title="Fechar menu">X</b>
      </div>
      <div class="div-date-menu">{{ time | date: "fullDate" }}</div>
      <ul>
        <li routerLinkActive="">
          <i class="material-icons icons-home"> home </i>
          <a routerLink="/" (click)="onShowMenu()">Home</a>
        </li>
        <li routerLinkActive="active">
          <b class="material-icons-outlined icons-home"> edit_calendar </b>
          <a routerLink="/task/create" (click)="onShowMenu()">Nova Tarefa</a>
        </li>
        <li routerLinkActive="active">
          <i class="material-icons icons-home"> star </i>
          <a routerLink="/markedTask" (click)="onShowMenu()">Marcadas</a>
        </li>
      </ul>
    </nav>
    <section class="container-route"></section>
  </section>
</section>
