@keyframes hideMenu {
  0% {
    left: 0%;
  }
  10% {
    left: -5%;
  }
  20% {
    left: -10%;
  }
  30% {
    left: -15%;
  }
  40% {
    left: -20%;
  }
  50% {
    left: -25%;
  }
  60% {
    left: -30%;
  }
  70% {
    left: -35%;
  }
  80% {
    left: -40%;
  }
  90% {
    left: -45%;
  }
  100% {
    left: -50%;
  }
}

@media screen and (min-width: 320px) {
  .div-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .closeMenu{
    display: flex;
    justify-content: end;
    font-size: 30px;
   
  }

  .closeMenu b{
    width: 80px;
    text-align: center;
    color: brown;
    margin-right: 1px;
    margin-top: 1px;
  }

  .closeMenu b:hover{
    background: brown;
    color: aliceblue;
  }

  .container-watch{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family:'Helvetica Neue';
    margin-left: 8px;
  }

  .div-menu button {
    margin: 5px;
    height: 25px;
    display: flex;
  }

  .div-menu span {
    padding-right: 10px;
    font-size: 30px;
  }

  .div-menu p {
    font-size: 23px;
    
  }

  .container-full {
    width: 100%;
  }

  .content {
    width: 40%;
    min-height: calc(100vh - 100px) ;
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #333;
    box-shadow: 10px 0px 5px #000;
    z-index: 10;
  }

  li {
    display: flex;
    align-items: center;
    padding:10% 5%;
  }

  a {
    min-width: 100%;
    margin-left: 5px;
    color: white;
  }

  .active {
    font-size: 18px;
    font-weight: 900;
    background: #000;
    color: white;
  }

  .hideMenu {
    position: absolute;
    left: -60%;
    animation: hideMenu 0.5s ease;
  }
}

@media screen and (min-width: 576px) {
  .div-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container-watch{
    display: flex;
    font-size: 18px;
    font-family:'Helvetica Neue';
    margin-left: 5px;
    align-items: center;
  }

  .div-menu p {
    font-size: 25px;
    margin-top: -5px;
  }

  .content {
    width: 230px;
  
  }

  .container-watch span{
    display: unset;
    margin-left: 10px;
   }

}

@media screen and (min-width:992px){
  .container-full {
    display:block;
    
  }

  .container-watch{
    font-size: 20px;
  
  }

  .container-watch span{
    margin-left: 10px;
  }

  .div-menu button {
    height: 30px;
    display: flex;
  }

  .div-menu span {
    padding-right: 15px;
    font-size: 35px;
  }

  .div-menu p {
    font-size: 30px;
  }

  .container-nav{
    width: 100%;
    display: flex;
  }

  .container-route{
    flex: 1;
  }

  .content {
    width: 250px;
    min-height: calc(100vh - 120px);
    position: relative;
    z-index: 0;
  }

  li {
    padding: 10%;
    color: rgb(8, 8, 80);
  }

  a {
    margin-left: 15px;
  }

  .active {
    font-size: 20px;
   
  }

  .hideMenu {
    display: none;
    transition: all 5s ease;
  
  }

}


