@keyframes hideMenu {
  0% {
    left: 0%;
  }
  10% {
    left: -5%;
  }
  20% {
    left: -10%;
  }
  30% {
    left: -15%;
  }
  40% {
    left: -20%;
  }
  50% {
    left: -25%;
  }
  60% {
    left: -30%;
  }
  70% {
    left: -35%;
  }
  80% {
    left: -40%;
  }
  90% {
    left: -45%;
  }
  100% {
    left: -50%;
  }
}

@media screen and (min-width: 320px) {
  .container-full {
    width: 100%;
    margin-bottom: 20px;
  }

  .sectionFull{
    display: table;
    height:100% !important;
    position: absolute;
    margin: 0px;
    z-index: 5;
  }

  .div-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .closeMenu{
    display: flex;
    justify-content: end;
    border-bottom: 1px solid #f5f2f2;
    margin-bottom: 30px;
  }

  .closeMenu b{
    text-align: center;
    font-size: 22px;
    background: brown;
    padding:5px 20px;
    color: aliceblue;
    border-top:1px solid #000;
    border-left:1px solid #000;
    border-bottom:1px solid #000;
    margin: 1px;

  }

  .closeMenu b:hover{
    opacity: 0.8;
    cursor: pointer;
  }
 
  .container-date{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    font-family:'Helvetica Neue';
  
  }

  .div-menu button {
    margin: 5px;
    height: 25px;
    display: flex;
  
  }

  .div-menu span {
    font-size: 30px;
  }

  .content {
    width: 55%;
    min-height:100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    background: #1c1c1c;
    border-right:3px solid #000;
    opacity: 0.9;
    z-index: 10;
  }

  .div-date-menu{
    display: none;
    
    
  }

  li {
    display: flex;
    align-items: center;
    padding:10% 5%;

  }
  li a, b{
    color: #f5f2f2;
  }

  a {
    min-width: 100%;
    margin-left: 5px;
    margin-top: 5px;
    text-transform: uppercase;
    
    
  }

  .active {
    font-size: 18px;
    font-weight: 900;
    border-bottom: 2px solid #000;
    border-bottom: 2px solid #000;
    background: aliceblue;
    
  }

  li.active a, 
  li.active .icons-home{
    color: black;
  }

  .icons-home{
    color: white;
  }

  .hideMenu {
    position: absolute;
    left: -60%;
    animation: hideMenu 0.5s ease;
  }
}

@media screen and (min-width: 576px) {
  .container-full {
    width: 98%;
   
  }

  .closeMenu b{
    width: 65px;
    font-size: 25px;
  }
 
  .container-date{
    font-size: 16px;
    margin-left: 10px;
  }

  .div-menu span {
    font-size: 35px;
  
  }

  .content {
    width: 225px;

  }

  li {
    padding:10%;

  }

  li a{
    font-size: 18px;
  }

  .active {
    font-size: 20px;
    
  }

  .hideMenu {
    left: -75%;
  }

}


@media screen and (min-width: 768px) {
  .closeMenu b{
    width: 70px;
    
  }
 
  .container-date{
    margin-left: 12px;
  }

  .hideMenu {
    left: -85%;
  }
}

@media screen and (min-width: 1200px) {
  .container-full {
    width: 250px;
    min-height: 100% ;
    background: #1c1c1c;
  }

  .content {
    width: 250px !important;
    position: relative !important;
    z-index: unset !important;
    top: 0 !important;
    min-height: calc(100vh - 70px) ;
  }

  .div-date-menu{
    display: flex;
    justify-content: end;
    text-transform: uppercase;
    font-family:'Helvetica Neue';
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    color: #eee;
    z-index: 11;
    
  }

  li {
    padding:15% 5%;
    margin-top: 10px;

  }

  
  .closeMenu{
    border-bottom:none;
    margin-bottom: 5px;
  }

  
  .closeMenu b{
   display: none;
  }

  .div-menu {
    display: none;

  }

  .hideMenu {
    position: fixed;
    left: 0px;
    top: 70px;
   
  }
}