<section class="home-container">
  <article class="home-content">
    <div class="home-welcome">
      <h1 >Faça sua lista de tarefas<span> Agora</span>!</h1>
      <p>
        Simples e Fácil. Liste Agora suas tarefas diárias para não ser
        surpreendido depois!
      </p>
      <button class="btn btn-dark" routerLink="/task/create">
        Nova Tarefa
      </button>
    </div>
    <div class="home-logo">
      <img src="/assets/img/home.jpg" alt="logo" />
    </div>
  </article>
</section>
