<header class="header-container">
  <div class="header-content">
    <h1>Tudo List</h1>
    <span class="material-icons-outlined"> free_cancellation </span>
  </div>
  <div class="header-git">
    <a
      href="http://github.com/Daniel-BS-Dev"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="https://raw.githubusercontent.com/fabiospampinato/vscode-github-notifications-bell/master/resources/logo.png"
        alt="github"
      />
      <p>/daniel</p>
    </a>
  </div>
</header>
