@media screen and (min-width: 320px) {
  .container-task {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-top: 30px;
    background: #fff;
    box-shadow: 1px 1px 4px #000;
    border:1px solid #fff;
    border-radius: 2px;
  }

  .container-button-mark{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    color: #1c1c1c;
  }

  .button-mark{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: solid #1c1c1c;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .button-dismark{
    background: #2F4F4F;
    color:white;
    
  }

  .button-mark strong{
    font-size: 15px;
    
  }

  .div-text {
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
  }

  .div-info-form{
    background: var(--black);
    color: #eee;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    display: flex;
    opacity: 1;
    flex-direction: column;
    padding: 8px 8px 2px 8px;
    
  }

  .div-info-form h3{
    font-size: 18px;
    text-transform: uppercase;

  }

  .div-info-form p{
    font-size: 14px;
    margin:0px 7px;

  }

  .background-green{
    background: #2F4F4F;
  }

 .div-date{
   width: 98%;
   display: flex;
   justify-content: end;
   align-items: flex-end;
   flex: 1;
   margin-top: 15px;
   font-size: 12px;
  
 }

  .div-buttons-delete-edit {
    width: 98%;
    display: flex;
    justify-content: end;
    padding: 10px 0px;
  }

  .div-buttons-delete-edit button{
    width: 90px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0.9;
  }

  .div-buttons-delete-edit button:nth-child(1) {
    margin-right: 10px;
  }


  .div-buttons-delete-edit button:hover{
    opacity: 1;
    transform: scaleX(1.1);
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .container-task {
    justify-content: space-between;
    flex-direction: row;
 
  }

  .div-buttons-delete-edit {
    width: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0px;
    border-left:1px solid #bcbcbc;
  }

  .div-buttons-delete-edit button{
    width: 120px;
    font-size: 13px;
  }

  .div-buttons-delete-edit button:nth-child(1) {
    margin-right: 0px;
    margin-bottom: 10px;
  }

}
